body {
    background-image: url("../img/back15.png");
    background-repeat: repeat;
}

/*+++++++++++++++++++++++++++
Map
++++++++++++++++++++++++++++++++++++++*/
 #master_container {
 	font-family: 'Lato', sans-serif;
    text-transform: none !important;
    position: relative;
    width: 100%;
    /*height: 800px;*/

 }

#content1 {
    margin-top: 100px;
    background-color: rgba(0,0,0,.7);
    border-radius:2px;
}

.head-box {
    min-width: 100px;
    width: 25%;
    height: 240px;    
    float: left;
    display: table;
    border: 15px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.head-box img {
    display: inline-block;
    vertical-align: middle;  
    max-width: 150%;
    margin-left: -25%;
    display: none;
    position: absolute;
    top: 0px;
    z-index: 3;
}

.head-box.complete img {
    display: block;

}

.head-box.complete.restricted img {
    display: none;
}

.item-box {
    height: 250px;
    float: left;   
    width: 75%;
    display: table;
}

.item-box .item-box-text {
  display: table-cell;
  vertical-align: middle;
}

.item-box.restricted, .head-box.restricted {
    cursor: auto;
}

.restricted-container, .optional-container {
    position: relative;
    display: none;
}

.restricted-container.restricted, .optional-container.optional {
    display: block;
}

.restricted-text {
    top: 80px;
    position: absolute;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    background-color: rgba(72,230,190, 0.8);
    border-radius:2px;
    z-index: 4;
}

.restricted-text h1 {
    color:  #d2454e !important;
    text-shadow: 4px 4px 2px rgba(73,168,144,1);
}

.optional-container{
    width: 50px;
    height: 125px;
    overflow: hidden;
    margin-left: 20px;
}

.optional-text {
    height: 100px;
    width: 50px;
    
    background: #FF9878;
    background: -moz-linear-gradient(top,  #FF9878 0%, #f47b5e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF9878), color-stop(100%,#f47b5e));
    background: -webkit-linear-gradient(top,  #FF9878 0%,#f47b5e 100%);
    background: -o-linear-gradient(top,  #FF9878 0%,#f47b5e 100%);
    background: -ms-linear-gradient(top,  #FF9878 0%,#f47b5e 100%);
    background: linear-gradient(top,  #FF9878 0%,#f47b5e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73b3c', endColorstr='#b8201f',GradientType=0 );

    position: relative;
    z-index: 2;
}

.optional-text p {
    color:  #fff !important;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    /*text-shadow: 4px 4px 2px rgba(73,168,144,1);*/
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
}


.left_corner {
    width: 50px;
    height: 50px;
    background: #f47b5e;
    position: absolute;
    bottom: 10px;
    left: -25px;
    z-index: 1;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.right_corner {
    width: 50px;
    height: 50px;
    background: #f47b5e;
    position: absolute;
    bottom: 10px;
    right: -25px;
    z-index: 1;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Colors
White: #fff;
Gray: #44403D;
Reddish: #d2454e;
Fuscia: #FF70AD;
Orange: #f47b5e;
Lighter Orange: #FF9878;
Pink: #DC6E9D;
Blue: #294e8b;
Blue-Green: #49A890;
Lighter Teal: #48E6BE;
Blue-Gray: #7099a2;
Yellow: #f6f171;
*/

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #d2454e;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #DC6E9D;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

#copyright {
    text-align: center;    
    /*background-color: #fff;*/
}

#copyright p {
    font-size: 30px;

}

/**********************************************
Foundation pieces and DOM
***********************************************/

        .row {
            margin-bottom: 10px;
        }

        .row .green-text    {
            color: rgb(140,198,63) !important;
        }

        .row .white-text    {
            color: #fff !important;
        }

        /*Typography*/

        .row h1, .row h2, .row h3, .row h4 {
            text-align: center;
            border:none;
            font-family: 'Permanent Marker', cursive;

        }

        .row h1 {
            font-size: 33px;
            letter-spacing: 7px;
            color: #fff;
            line-height: 30px;
            /*padding-top: 0.5rem;*/
            padding-bottom: 0.5rem;            
            text-decoration: none;
            font-family: 'Permanent Marker', cursive;
        }

        .row h1.complete {
            text-decoration: line-through; 
        }

        .row h2 {
            color: #fff;
            font-size: 38px;            
            text-transform: none;
            line-height: 30px;
            padding-top: 1rem;
            /*padding-bottom: 1rem;*/
            font-family: 'Permanent Marker', cursive;
            letter-spacing: .1rem;
        }

        .row h3 {
            font-size: 26px;
            color: #fff;            
            text-transform: none;
            line-height: normal;
        }

        .row h4 {
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 0.5rem;
            margin-bottom: 0.4rem;
            color: #fff;
        }



@media only screen and (min-width: 40.063em) { 
        /*D3 fixes*/

        .row h1 {
            font-size: 52px;        
            letter-spacing: 15px;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
            line-height: 49px;
        }

        .row h3 {

        }

    } /* min-width 641px, medium screens */
@media only screen and (min-width: 64.063em) { 

    } /* min-width 1025px, large screens */


@media only screen and (max-width: 480px) { 
        .row h2 {
            font-size: 30px;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            letter-spacing: .05rem;
        }

        .row h3 {
            font-size: 16px;
            
        }

}


@media only screen and (max-width: 320px) { 
    .row h1 {
        font-size: 28px
    }
    .row h2 {
            font-size: 26px;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            letter-spacing: .025rem;
        }

}