
/*experimental*/
.enter {
  fill: #333;
}

.update {
  fill: #333;
}

/*+++++++++++++++++++++++++++
Map
++++++++++++++++++++++++++++++++++++++*/
 #master_container {
 	font-family: 'Lato', sans-serif;
    text-transform: none !important;
    position: relative;
    width: 100%;
    /*height: 800px;*/
 }

/**********************************************
Foundation pieces and DOM
***********************************************/

        .row {
            margin-bottom: 10px;
        }

        .row .green-text    {
            color: rgb(140,198,63) !important;
        }

        .row .white-text    {
            color: #fff !important;
        }

        /*Typography*/

        .row h1, .row h2, .row h3, .row h4 {
            text-align: center;
            border:none;
            font-family: 'Permanent Marker', cursive;

        }

        .row h1 {
            font-size: 33px;
            letter-spacing: 7px;
            color: rgb(51,51,51) !important;
            line-height: normal;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;            
            text-decoration: none !important;
            font-family: 'Permanent Marker', cursive;

        }

        .row h2 {
            font-size: 38px;
            color: #fff !important;
            text-transform: none;
            line-height: normal;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-family: 'Permanent Marker', cursive;
            letter-spacing: .1rem;
        }

        .row h3 {
            font-size: 26px;
            color: #fff !important;
            margin-top: 0.5rem;
            margin-bottom: 0.6rem;
            text-transform: none;
            line-height: normal;
        }

        .row h4 {
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 0.5rem;
            margin-bottom: 0.4rem;
            color: rgb(0, 0, 0) !important;
        }



@media only screen and (min-width: 40.063em) { 
        /*D3 fixes*/

        .row h1 {
            font-size: 52px;        
            letter-spacing: 15px;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

    } /* min-width 641px, medium screens */
@media only screen and (min-width: 64.063em) { 

    } /* min-width 1025px, large screens */


@media only screen and (max-width: 480px) { 
        .row h2 {
            font-size: 30px;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            letter-spacing: .05rem;
        }

        .row h3 {
            font-size: 16px;
            margin-top: .25rem;
            margin-bottom: .25rem;
        }

}


@media only screen and (max-width: 320px) { 
    .row h1 {
        font-size: 28px
    }
    .row h2 {
            font-size: 26px;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            letter-spacing: .025rem;
        }

}